.root {
    background-color: rgb(var(--venia-background-color));
    color: rgb(var(--venia-text));
    position: relative;
    z-index: 1;
}

.root_masked {
    composes: root;
}

.page {
    min-height: 82vh;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.page_masked {
    composes: page;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: fixed;
}
.footerClass{
    margin-top: 10vw;
}
/* .bottomTabs{
    position: fixed;
} */
